beautifulsoup4
langchain-community
tiktoken
langchain
langgraph
langchainhub
tavily-python
langchain-openai
python-dotenv
pytest
langchain-chroma
langchain-tavily==0.1.5
langchain_aws
langchain_google_genai